.react-calendar {
  max-width: 100%;
  background: var(--chakra-colors-gentleSky);
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
}

.react-calendar__navigation {
  display: flex;
  margin-bottom: 2rem;
}

.react-calendar__navigation button {
  color: var(--chakra-colors-gentleSage);
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}

.react-calendar__navigation button:disabled {
  background-color: var(--chakra-colors-gentleSky);
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: var(--chakra-colors-gentlePeach);
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: var(--chakra-colors-gentlePurple);
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--chakra-colors-gentleSage);
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: var(--chakra-colors-gentleSky);
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: var(--chakra-colors-gentleBlue);
  color: var(--chakra-colors-gentleSky);
  border-radius: 6px;
}

.react-calendar__tile--now {
  background: var(--chakra-colors-gentleSage);
  border-radius: 6px;
  font-weight: bold;
  color: var(--chakra-colors-gentleSky);
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: var(--chakra-colors-gentlePurple);
  border-radius: 6px;
  font-weight: bold;
  color: var(--chakra-colors-gentlePeach);
}
